<!DOCTYPE HTML>
<html>
	<head>
		<title>HiddenPassion | Giúp bạn khám phá những đam mê tiềm  | </title>ẩn
        <meta name="description" content="Website sẽ tạo cho bạn nhiều điều bất ngờ để khám phá thế giới , khám phá bản thân và tìm ra những đam mê đích thực của bản thân" />
        <meta property="og:image" content="http://example.com/logo.jpg">
        <meta property="og:image:type" content="image">
        <meta property="og:image:width" content="1024">
        <meta property="og:image:height" content="1024">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="image_src" href="../static/images/music.jpg"/>
       <link rel="stylesheet" href="/static/css/vendor.css">
        <link rel="stylesheet" href="../static/css/main.css" />
         <link rel="icon" href="../static/images/icon.png" type="image"/>

        <style>
    .container {
      position: relative;
      width: 50%;
    }

    .image {
        border: 3px solid #ebfff2;
        border-radius: 80%;
          display: block;
          width: 100%;
          height: 100%;
    }
    .overlay {
        border-radius: 80%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 172, 228, 0.65);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.5s ease;
    }

    .middle {
        border-radius: 80%;
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }

    .container:hover .image {
      opacity: 0.3;
    }

    .container:hover .middle {
      opacity: 1;
    }

    .text {
        border-radius: 80%;
      background-color: #4CAF50;
      color: white;
      font-size: 14px;
      padding: 16px 32px;
    }

</style>
</head>

	<body class="index">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="home" class="logo">HiddenPassion</a>
					<!--<nav id="nav">-->
						<!--<a href="index.html">Home</a>-->
						<!--<a href="generic.html">Generic</a>-->
						<!--<a href="elements.html">Elements</a>-->
					<!--</nav>-->
				</div>
			</header>
			<!--<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->

		<!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>HiddenPassion<span><br />
                    The Easiest way to explore your new self</span><br /></h1>
                <p style="color: #d5eeff">INTERNET như một đại dương khổng lồ. Và có những lúc bạn như một du khách bị LẠC TRÔI giữa đại dương bao la ấy, bạn không biết đi về đâu? làm gì? ! HIDDENPASSION  sẽ như một con tàu, một thuyền trưởng đưa bạn đến những miền đất thú vị, giải trí nhưng đôi khi cũng đầy tri thức chỉ cần click chúng tôi sẽ đưa các bạn đi khám phá những điều mới mẻ thú vị trong cuộc sống này !!</p>
                <br />

                <ul class="actions">
                    <li><a href="main" class="button alt"style="color: #05ad9c">EXPLORE NOW >></a></li>
                </ul>
            </div>
        </section>
        <section id="three" style="background-color: #212121 !important; text-align: center!important; vertical-align: middle !important;">

		<div class="row section-intro inner" style="background-color: #212121 !important;">
   		<div class="col-twelve with-bottom-line" style="background-color: #212121 !important; margin: 3em" >

   			<h5 style="color: #088a81">HIDDENPASSION</h5>
   			<h1 style="color: #adc5d6">Khám phá những đam mê tiềm ẩn cùng với 4M</h1>
            <p style="color: #adc5d6">Một sản phẩm tuyệt vời không bao giờ được tạo nên bởi một cá nhân, đó là thành quả của một đội gồm những con người xuất xắc. Suốt cuộc đời chúng tôi đã luôn may mắn được ở bên cạnh những con người xuất sắc đó</p>

   			<p class="lead" style="color: #adc5d6">4 thành viên của 4M bùng cháy đam mê đem lại cho bạn những trải nghiệm thú vị nhất cùng với hiddenpassion.tk</p>

   		</div>
   	</div>
        </section>
        <section id="three" style="text-align: center !important; vertical-align: middle !important;">
   	<div class="row features-content">

   		<div class="features-list block-1-4 block-s-1-2 block-tab-full group">

	      	<div class="bgrid feature">

	      		<span class="icon"><i class="icon-window"></i></span>

	            <div class="service-content">

	            	 <h3 class="h05" style="color: #ebfff2; font-family: Ubuntu">HOÀNG ĐỖ</h3>
                    <div class="container">
                            <a href="https://www.facebook.com/hoang.spm">
                                 <img src="../static/images/hoang.png" alt="Avatar" class="image">
                            </a>
                    </div>


	         	</div>

				</div> <!-- /bgrid -->

				<div class="bgrid feature">

					<span class="icon"><i class="icon-eye"></i></span>

	            <div class="service-content">
	            	<h3 class="h05" style="color: #ebfff2; font-family: Ubuntu">VŨ VƯƠNG</h3>
                    <div class="container">
                            <a href="https://www.facebook.com/vu.kenbin.10">
                                 <img src="../static/images/vuvuong.png" alt="Avatar" class="image">
                            </a>
                    </div>




	            </div>

			   </div> <!-- /bgrid -->

			   <div class="bgrid feature">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>

	            <div class="service-content">
	            	<h3 class="h05" style="color: #ebfff2; font-family: Ubuntu">HOÀNG ANH </h3>
                <div class="container">
                            <a href="https://www.facebook.com/hoanganh.pham.9465">
                                 <img src="../static/images/hoanganh.png" alt="Avatar" class="image">
                            </a>
                </div>


	            </div>

			   </div> <!-- /bgrid -->

			   <div class="bgrid feature">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>

	            <div class="service-content">
	            	<h3 class="h05" style="color: #ebfff2; font-family: Ubuntu">NHẬT ANH </h3>
                <div class="container">
                            <a href="https://www.facebook.com/paul.kevin.94">
                                 <img src="../static/images/nhatanh.png" alt="Avatar" class="image">
                            </a>
                </div>


	            </div>

			   </div> <!-- /bgrid -->
{#   		<div class="features-list block-1-4 block-s-1-2 block-tab-full group">#}
{##}
{#				<div class="bgrid feature">#}
{##}
{#					<span class="icon"><i class="icon-file"></i></span>#}
{##}
{#	            <div class="service-content">#}
{##}
{#                        <div class="container">#}
{#                            <a href="https://www.facebook.com/hoang.spm">#}
{#                                 <img src="../static/images/hoang.png" alt="Avatar" class="image">#}
{#                            </a>#}
{##}
{#                          <div class="overlay">#}
{#                            <div class="text">Hello World</div>#}
{#                          </div>#}
{#                        </div>#}
{#                </div>#}
{##}
{#				</div> <!-- /bgrid -->#}
{##}
{#			   <div class="bgrid feature">#}
{##}
{#			   	<span class="icon"><i class="icon-layers"></i></span>#}
{##}
{#	            <div class="service-content">#}
{##}
{#                    <div class="container">#}
{#                         <a href="https://www.facebook.com/vu.kenbin.10">#}
{#                      <img src="../static/images/vuvuong.png" alt="Avatar" class="image">#}
{#                         </a>#}
{#                      <div class="overlay">#}
{#                        <div class="text">Hello World</div>#}
{#                      </div>#}
{#                    </div>#}
{##}
{#	            </div>#}
{##}
{#			   </div> <!-- /bgrid -->#}
{##}
{#			   <div class="bgrid feature">#}
{##}
{#			   	<span class="icon"><i class="icon-gift"></i></span>#}
{##}
{#	            <div class="service-content">#}
{##}
{#                    <div class="container">#}
{#                        <a href="https://www.facebook.com/hoanganh.pham.9465">#}
{#                      <img src="../static/images/hoanganh.png" alt="Avatar" class="image">#}
{#                        </a>#}
{#                      <div class="overlay">#}
{#                        <div class="text">Hello World</div>#}
{#                      </div>#}
{#                    </div>#}
{#	            </div>#}
{##}
{#			   </div> <!-- /bgrid -->#}
{##}
{#            <div class="bgrid feature">#}
{##}
{#			   	<span class="icon"><i class="icon-gift"></i></span>#}
{##}
{#	            <div class="service-content">#}
{##}
{#                    <div class="container">#}
{#                        <a href="https://www.facebook.com/paul.kevin.94">#}
{#                      <img src="../static/images/nhatanh.png" alt="Avatar" class="image">#}
{#                        </a>#}
{#                      <div class="overlay">#}
{#                        <div class="text">Hello World</div>#}
{#                      </div>#}
{#                    </div>#}
{#	            </div>#}
{##}
{#			   </div> <!-- /bgrid -->#}
{##}
{##}
{#	      </div> <!-- features-list -->#}
{##}
   	</div> <!-- features-content -->
    </div>
	</section> <!-- /features -->


        <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
						&copy; DESIGNED 2017 BY: <a href="https://templated.co">Techkids.Vn - Team 4M</a>
					</div>

				</div>
			</footer>
		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>